<!DOCTYPE html>
<html lang="en" ng-app="yourApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Giggle</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bower:js-->
    <script src="vendor/modernizr/modernizr.js"></script>
    <script src="vendor/jquery/dist/jquery.js"></script>
    <script src="vendor/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/WeakMap/WeakMap.js"></script>
    <script src="vendor/pointerevents-polyfill/pointerevents.min.js"></script>
    <script src="vendor/angular-gesture/ngGesture/gesture.js"></script>
    <script src="vendor/angular-gesture/ngGesture/directive/ngClick.js"></script>
    <script src="vendor/angular-gesture/ngGesture/directive/ngDrag.js"></script>
    <script src="vendor/angular-gesture/ngGesture/directive/ngHold.js"></script>
    <script src="vendor/angular-gesture/ngGesture/directive/ngSwipe.js"></script>
    <script src="vendor/angular-gesture/ngGesture/directive/ngTouch.js"></script>
    <script src="vendor/jquery-ui/jquery-ui.js"></script>
    <!-- endbower-->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/mainController.js"></script>
    <style>
      @import url('http://fonts.googleapis.com/css?family=Coustard:400,900');
      @import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,700,300,600italic,700italic,900,900italic,300italic,200italic,200');
      @import url('http://fonts.googleapis.com/css?family=Rock+Salt');
      @import url('styles/main.css');
    </style>
  </head>
  <body ng-controller="homeController">
  </body>
</html>